.hidden {
  display: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common */
.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

/*#region header*/

.head-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  padding-bottom: 14px;
}
.logo {
  min-width: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
}
.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #111;
}
.logo-text-header {
  font-style: normal;
}
.navigation {
  display: none;
}
.burger-btn {
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  stroke-width: 2px;
  stroke: #111;
}
@media screen and (min-width: 768px) {
  .head-cont {
    padding: 28px 32px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
  }
  .nav-header {
    display: flex;
    gap: 24px;
  }

  .nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
  }
  .nav-icon-svg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 18px;
  }
  .nav-icon {
    stroke-width: 2px;
    stroke: #111;
    fill: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-btn {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .navigation {
    gap: 90px;
  }
}
/*#endregion header*/
/*#region mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #1e1823;
  position: absolute;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  stroke-width: 2px;
  stroke: #fff;
}
.nav-header-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
  margin-bottom: auto;
}
.nav-item-menu {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-menu:hover,
.nav-item-menu:focus {
  color: #fd9222;
}
.nav-icon-svg-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 18px;
}
.nav-icon-menu {
  stroke-width: 1.5px;
  stroke: #fff;

  background-color: #1e1823;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*#endregion mobile menu*/
/*#region hero*/
.hero {
  background-color: #1e1823;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../img/mobile/chocolate-bg@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 30px;
  width: 375px;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 36px;
}
.hero-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}
.hero-title {
  width: 250px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}
.cont-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  row-gap: 32px;
}
.btn-hero {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 14px;
  border-radius: 100px;
  padding: 12px 28px;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.btn-scroll {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.scroll-down {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
}
.scroll-icon {
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 375px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/mobile/chocolate-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/tablet/chocolate-bg@1x.jpg);
    width: 768px;
    padding-top: 671px;
    padding-bottom: 40px;
    padding-left: 72px;
    padding-right: 72px;
  }
  .hero-cont {
    align-items: flex-start;
  }
  .hero-title {
    width: 484px;
    font-size: 28px;
    margin-right: 140px;
  }
  .cont-btn {
    align-items: center;
  }
  .scroll-down {
    font-size: 14px;
    line-height: 1.3;
    margin-left: 153px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/tablet/chocolate-bg@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/desktop/chocolate-bg@1x.jpg);
    width: 1200px;
    padding-top: 381px;
  }
  .scroll-down {
    margin-left: 585px;
  }
  .scroll-icon {
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../img/desktop/chocolate-bg@2x.jpg);
  }
}
/*#endregion hero*/
/*#region benefits*/

.benefits {
  padding-top: 60px;
  padding-bottom: 30px;
}
.benefits-cont {
  padding: 20px 20px;
  background-color: #1e1823;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.benefits-icons {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 28px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .benefits-cont {
    padding: 50px 32px;
  }
  .benefits-list {
    gap: 32px;
  }
  .benefits-item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding-top: 72px;
    padding-bottom: 50px;
  }
  .benefits-cont {
    padding: 50px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 70px;
  }
  .benefits-item {
    width: calc((100% - 140px) - 3);
  }
  .benefits-text {
    margin-right: 18px;
  }
}
/*#endregion benefits*/
/*#region ingredients*/
.cont-ingred {
  padding: 30px 20px;
}
.ingredients-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-left: 26px;
  margin-right: 26px;
}
.ingret-span {
  color: #fd9222;
}
.ingredients-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.ingredients-item {
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 55px;
  padding-bottom: 28px;
  border-radius: 15px;
  background: #fd9222;
}
.ingret-photo {
  padding-left: 28px;
}
.ingredients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 25px;
}
.item-two {
  border: 1px solid #fd9222;
  border-radius: 15px;
  background: #fff;
}
.item-three {
  background: #1e1823;
}
.title-two {
  color: #111;
}
.overlow-hidden {
  display: none;
}
